Al Email Classifier.json
{
  "name": "AI Email Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "99b82e63-3c55-4f05-bbf2-4b2be070a9f1",
      "name": "On New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "6z3QjrXymfpzmaMZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "=From: {{ $json.from.text }}\nSubject: {{ $json.subject }}\n\n{{ ($json.text || \"\").slice(0, 3000) }}",
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\",\"enum\":[\"Appointment Booking\",\"Payment Reminder\",\"Other\"],\"description\":\"Appointment Booking = a genuine email about booking, scheduling, confirming, rescheduling or cancelling an appointment, meeting, reservation or call (NOT marketing invitations or promotional webinars). Payment Reminder = a genuine email about a payment, invoice, bill or subscription that is due or overdue with a deadline (NOT promotional discounts or sales). Otherwise use \\\"Other\\\".\"},\"summary\":{\"type\":\"string\",\"description\":\"One short sentence summarising the email in its original language.\"},\"appointment_date\":{\"type\":\"string\",\"description\":\"For appointments: the date and time of the appointment, e.g. \\\"Wed 15 July 2026, 08:50\\\". Empty if not an appointment or not stated.\"},\"appointment_location\":{\"type\":\"string\",\"description\":\"For appointments: the full location/address. Empty if not an appointment or not stated.\"},\"appointment_service\":{\"type\":\"string\",\"description\":\"For appointments: what the appointment is for (service, purpose). Empty if not an appointment or not stated.\"}},\"required\":[\"category\"]}",
        "options": {
          "systemPromptTemplate": "You are an expert email classification and extraction algorithm. Classify the email into exactly one category and extract the relevant fields. Only fill fields relevant to the chosen category; leave the others as empty strings. If a value is unknown, use an empty string."
        }
      },
      "id": "233650e1-12b1-4fc4-b9e3-8bc7d47ad4cf",
      "name": "Classify & Extract",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        368,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "058522e7-0ff2-42da-a062-dc61b4d02855",
      "name": "Extractor Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "XjRVxjnROqlGaPyw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Appointment Booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Payment Reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payment"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "992ffb30-667f-43f8-a946-5b58bbad486f",
      "name": "Route By Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        80
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "notify-appointment",
          "mode": "name"
        },
        "text": "=:calendar: *Appointment Booking*\n*From:* {{ $('On New Email').item.json.from.text }}\n*Subject:* {{ $('On New Email').item.json.subject }}\n*Received:* {{ $('On New Email').item.json.date }}\n\n*Date:* {{ $json.output.appointment_date }}\n*Location:* {{ $json.output.appointment_location }}\n*Service:* {{ $json.output.appointment_service }}\n\n_{{ $json.output.summary }}_",
        "otherOptions": {}
      },
      "id": "7a60e2c0-31f3-4f3c-9449-0362d501915b",
      "name": "Notify Appointment",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        960,
        64
      ],
      "webhookId": "ed081ab7-dedd-4701-bbc2-0fac459e18eb",
      "credentials": {
        "slackOAuth2Api": {
          "id": "6fa38prLTrcD3Xl2",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On New Email": {
      "main": [
        [
          {
            "node": "Classify & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Extract": {
      "main": [
        [
          {
            "node": "Route By Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify & Extract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route By Category": {
      "main": [
        [
          {
            "node": "Notify Appointment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7f9e2011-ec5d-476a-ac7b-d8429440e68f",
  "meta": {
    "instanceId": "6184a72df99093a196de5e6454c80ae9014f0fd8e36064a4968423fe353da67b"
  },
  "nodeGroups": [],
  "id": "2QFw5eXcmkdHJhZ8",
  "tags": []
}
